%tr
  %td= payment.student.decorate.full_name
  %td= payment.decorate.for_month
  %td
    = link_to payment_path(payment), { title: t('shared.show') } do
      %button.btn.btn-default
        = fa_icon "search"
